@import url('https://fonts.googleapis.com/css2?family=Joan&display=swap');

body {
  margin: 0;
  font-family: 'Joan', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family:  'Joan', serif;
}

.container {
  max-width: 987px;
  margin: 0 auto;
  padding: 0 1rem;
}