@import url('https://fonts.googleapis.com/css2?family=Joan&display=swap');

body {
  margin: 0;
  font-family: 'Joan', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: rgb(rgb(175, 221, 88), rgb(40, 158, 236), rgb(235, 89, 32));
}

code {
  font-family:  'Joan', serif;
}

.container {
  max-width: 990px;
  margin: 0 auto;
  padding: 0 1rem;
}